/*
 * Basic layout rules
 * Research shows that the optimal line length for reading is significantly
 * less than the horizontal size of the average monitor.
 * So, I limit the quiz to 7.7 inches and center it.
 * Use Open Sans as the font. Unlike Arial, I find it tolerable.
 *
 * Also, use a small hanging indent on the questions. It looks nice.
 */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
	margin: 0 auto;
	max-width: 7.7in;
	font-family: "Open Sans", sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	counter-reset: correct;
}

ol {
	padding: 0;
	margin: 0;
}

legend {
	display: list-item;
	margin: 0 0 1rem 1.15rem
}

li:nth-of-type(1n + 10) legend {
	margin-left: 1.65rem;
}

li:nth-of-type(1n + 100) legend {
	margin-left: 2.15rem;
}

ol > li {
	contain: layout;
	
	display: block;
	padding: 0 0 1rem;
	margin: 0 0 2rem;
	border-block-end: 2px solid #ccc;
}

@media only screen and (max-width: 7.7in) {
	main {
		width: calc(100vw - 2.45rem);
		max-width: calc(100vw - 2.45rem);
		margin: 0 auto;
	}
}

.sticky {
	display: inline-block;
}

/*
* Display the correct score.
* It's after everything else in the DOM so it uses the right count, but displayed first
* via order.
*/
#score {
	display: none;
	order: -1;
	margin-bottom: 1rem;
	font-size: 13.5pt;
	color: #663399;
}

#score span.count::before {
	content: counter(correct);
}

#reveal-answers:checked ~ #score {
	display: block;
}

.offscreen {
	position: absolute;
	left: -9999px;
}

#questions {
	line-height: 1.45;
}

/*
* The reveal answers button
* Styled to look like an actual button, and disappears after being pressed
* My thanks to https://www.bestcssbuttongenerator.com/
*/
#submit {
	display: inline-block;
	padding: 6px 24px;
	outline: 1px solid #124d77;
	border-radius: 3px;
	background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	cursor: pointer;
	font-size: 17px;
	text-decoration: none;
	color: #ffffff;
	text-shadow: 0px 1px 0px #154682;
}

#submit:hover {
	background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
}

#reveal-answers:checked ~ #submit {
	display: none;
}

/*
* After answers are revealed, don't let the user change what they picked.
* I thought about this for some time and ultimately there's no good reason to let them.
*/
#reveal-answers:checked ~ #questions label,
#reveal-answers:checked ~ #questions input {
	pointer-events: none;
}

.multiple-choice label {
	display: block;
	
	padding: 0.5em;
	
	margin-bottom: 1.5rem;
	padding-left: 2rem;

	outline: 2px solid #aaa;
	border-radius: 0.6rem;

	cursor: pointer;
}

.multiple-choice input {
	float: left;
	margin: 1em 0 0 0.75rem;
	z-index: 1;
}

/*
 * Styling for multiple choice answers
 * The following can be used as background color:
 *  - Vivid green (if correct and selected)
 *  - Red (if incorrect and selected)
 *  - Faded green (if correct)
 *  - Gray (if selected, but answers not revealed)
 *
 * The correct answer, once revealed, is also given a thicker border.
 */
input:checked + label {
	background-color: #eee;
	outline-color: #000 !important;
	cursor: default;
}

input[type="radio"] + label:hover {
	background-color: #eee;
}

#reveal-answers:checked ~ #questions input:checked + .correct {
	background-color: #afa;
	counter-increment: correct;
}

#reveal-answers:checked ~ #questions input:checked + :not(.correct) {
	background-color: #f88;
}

#reveal-answers:checked ~ #questions .correct {
	background-color: #cfc;
	outline: 5px solid #aaa;
}

/*
 * Styling for short answer questions.
 * The :valid pseudo-selector is used to test correctness.
 */
.short-answer {
	font-size: 13.5pt;
	margin-bottom: 1rem;
	width: 100%;
}

@media only screen and (max-width: 7.7in) {
	.short-answer {
		width: 95%;
	}
}

.short-answer-correct {
	display: none;
}

#reveal-answers:checked ~ #questions .short-answer-correct {
	display: block;
}

#reveal-answers:checked ~ #questions .short-answer:valid {
	border: 3px solid #393;
	counter-increment: correct;
}

#reveal-answers:checked ~ #questions .short-answer:invalid {
	border: 3px solid #f33;
}

/*
 * The weird spelling is because the uBlock Origin annoyances list likes blocking this.
 * Only show on Safari--in every other tested browser, the reveal answers button also
 * scrolls to top.
 */
#bakk-to-top {
	display: none;
}

.reveal-answers:not(:checked) ~ #bakk-to-top {
	margin-top: 1rem;
}

/* "safari only" */
@media not all and (min-resolution: 0.001dpcm) {
	@supports (-webkit-appearance: none) and (stroke-color: transparent) {
		#bakk-to-top {
			display: block;
		}
	}
}

/* Standard faded footer */
footer,
footer > * {
	color: #888;
}

footer {
	margin: 1rem 0;
}
